.paymant-methods{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: -0.078px;
        color: #040921;
        opacity: 0.8;
        margin-left: 10px;
        margin-bottom: 8px !important;
    }
}

li{
    list-style: none
}

.vodiapicker{
    display: none; 
  }
  
  #a{
    padding-left: 0px;
  }
  
  #a img, .btn-select img{
    width: 12px;
    
  }
  
  .b ul{
    margin-bottom: 0 !important;
  }

  #a li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-select li{
    display: flex;
  }
  
  #a li:hover{
   background-color: #F4F3F3;
  }
  
  #a li img{
    margin: 5px;
  }
  
  #a li span, .btn-select li span{
    margin-left: 10px;
    color: #040921;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
  }

  .btn-select{
    position: relative;
    
    &::after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/Arrow-Down2.svg) no-repeat center;
        position: absolute;
        right: 14px;
        top: 14px;
    }
  }
  
  /* item list */
  
  .b{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    position: absolute;
    background: white;
    z-index: 999999999;
    
  }
  
  .open{
    display: show !important;
  }
  
  .btn-select{
    background: #FFFFFF;
    border: 1px solid rgba(4, 9, 33, 0.08);
    border-radius: 16px;
    padding: 14px;
    transition: 0.2s;
    color: #040921;
   
  }

  .card-number-input{
    position: relative;

    svg{
        position: absolute;
        top: 16px;
        right: 16px;
        height: 20px;
    }
}

.payment-line{
    width: 100%;
    height: 1px;
    background: rgba(4, 9, 33, 0.08);
    margin-top: 40px;
    margin-bottom: 40px;
}

.payment-attributes{
    .attr-item{
        .attr-title{
            display: flex;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #040921;
            align-items: center;

            svg{
                margin-right: 7px;
            }
        }

        .attr-text{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #040921;
            opacity: 0.75;
            margin-top: 10px;

            a{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #040921;
                margin-top: 10px;
                opacity: 1 !important;
                text-decoration: underline !important;
            }

            span{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                opacity: 1 !important;
                letter-spacing: -0.078px;
                color: #040921;
            }

            .attr-href{
                color: #0C5DFF;
                text-decoration: underline !important;
                font-weight: 400;
            }
        }
    }

    .attr-w-switch{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .attr-switch{
            display: flex;
            background: #FFFFFF;
            border: 1px solid rgba(4, 9, 33, 0.08);
            border-radius: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 1px;
            color: #040921;

            .switch-item{
                padding: 7px;
                opacity: 0.25;
                cursor: pointer;

                &:first-child{
                    padding-left: 13px;
                }

                &:last-child{
                    padding-right: 13px;
                }
            }

            .switch-active-yes{
                opacity: 1;
                color: #73B96D !important;
            }

            .switch-active-no{
                opacity: 1;
                color: #FF5A5F !important;
            }
        }
    }
}

.attr-section{
    display: flex;
    align-items: center;

    .attr-add-opt, .attr-add{
        background: #FFFFFF;
        border: 1px solid #040921;
        border-radius: 16px;
        padding: 16px;
        transition: 0.2s;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #040921;
        margin: 15px 0;
    }

    .attr-add-opt{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 95px;
    }

    .attr-add{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: calc(100% - 95px);
        position: relative;
        right: 1px;

        svg{
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}

.date-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .input-date-item{
        width: 48%;
        position: relative;
        input{
            width: 100%;
        }

        svg{
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    .date-disable{
        input{
            border-color: rgba(4, 9, 33, 0.16) !important;
        }
    }
}

.disabled-attr{
    opacity: 0.25;
}

.host-items{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .host-item{
        display: flex;
        align-items: center;
        
        .host-avatar{
            width: 50px;

            img{
                width: 100%;
            }
        }

        .host-texts{
            margin-left: 15px;

            .host-name{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #040921;
            }

            .host-text{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #040921;
                opacity: 0.5;
            }
        }

        a{
            padding: 8px 16px;
            background: #FFFFFF;
            border: 1px solid rgba(4, 9, 33, 0.08);
            border-radius: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 1px;
            color: #040921;
        }
    }
}

.consider-items{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .consider-item{
        width: 46%;

        .item-title{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.32px;
            color: #040921;
            margin-bottom: 15px;
            margin-top: 20px;
        }

        .item-attr{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.32px;
            color: #040921;
            opacity: 0.8;
            display: flex;
            align-items: flex-start;
            margin: 15px 0;
            svg{
                margin-right: 10px;
            }

            a{
                text-decoration: underline !important;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.32px;
                color: #040921;
                opacity: 0.8;
                margin-left: 4px;
            }
        }
    }
}