.paymant-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paymant-methods p {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.078px;
  color: #040921;
  opacity: 0.8;
  margin-left: 10px;
  margin-bottom: 8px !important;
}

li {
  list-style: none;
}

.vodiapicker {
  display: none;
}

#a {
  padding-left: 0px;
}

#a img, .btn-select img {
  width: 12px;
}

.b ul {
  margin-bottom: 0 !important;
}

#a li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#a li:hover {
  background-color: #F4F3F3;
}

#a li img {
  margin: 5px;
}

#a li span, .btn-select li span {
  margin-left: 10px;
  color: #040921;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.btn-select {
  position: relative;
}

.btn-select::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/Arrow-Down2.svg) no-repeat center;
  position: absolute;
  right: 14px;
  top: 14px;
}

/* item list */
.b {
  display: none;
  width: 100%;
  max-width: 350px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  background: white;
  z-index: 999999999;
}

.open {
  display: show !important;
}

.btn-select {
  background: #FFFFFF;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 16px;
  padding: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #040921;
}

.section-select_phone {
  width: 100px;
}

.vodiapicker_phone {
  display: none;
}

#a_phone {
  padding-left: 0px;
}

#a_phone img, .btn-select_phone img {
  width: 12px;
}

.b_phone ul {
  margin-bottom: 0 !important;
}

#a_phone li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-select_phone li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
}

#a_phone li:hover {
  background-color: #F4F3F3;
}

#a_phone li img {
  margin: 5px;
}

#a_phone li span, .btn-select_phone li span {
  margin-left: 10px;
  color: #040921;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  padding: 14.5px 14.5px 14.5px 5px;
}

.btn-select_phone {
  position: relative;
  bottom: 20px;
}

/* item list */
.b_phone {
  display: none;
  width: 100%;
  max-width: 350px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  background: white;
  z-index: 999999999;
  top: 50px;
}

.open {
  display: show !important;
}

.btn-select_phone {
  background: #FFFFFF;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #040921;
  z-index: 99999;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card-number-input {
  position: relative;
}

.card-number-input svg {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 20px;
}

.payment-line {
  width: 100%;
  height: 1px;
  background: rgba(4, 9, 33, 0.08);
  margin-top: 40px;
  margin-bottom: 40px;
}

.payment-attributes .attr-item .attr-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #040921;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-attributes .attr-item .attr-title svg {
  margin-right: 7px;
}

.payment-attributes .attr-item .attr-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040921;
  opacity: 0.75;
  margin-top: 10px;
}

.payment-attributes .attr-item .attr-text a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #040921;
  margin-top: 10px;
  opacity: 1 !important;
  text-decoration: underline !important;
}

.payment-attributes .attr-item .attr-text span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 1 !important;
  letter-spacing: -0.078px;
  color: #040921;
}

.payment-attributes .attr-item .attr-text .attr-href {
  color: #0C5DFF;
  text-decoration: underline !important;
  font-weight: 400;
}

.payment-attributes .attr-w-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-attributes .attr-w-switch .attr-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #040921;
}

.payment-attributes .attr-w-switch .attr-switch .switch-item {
  padding: 7px;
  opacity: 0.25;
  cursor: pointer;
}

.payment-attributes .attr-w-switch .attr-switch .switch-item:first-child {
  padding-left: 13px;
}

.payment-attributes .attr-w-switch .attr-switch .switch-item:last-child {
  padding-right: 13px;
}

.payment-attributes .attr-w-switch .attr-switch .switch-active-yes {
  opacity: 1;
  color: #73B96D !important;
}

.payment-attributes .attr-w-switch .attr-switch .switch-active-no {
  opacity: 1;
  color: #FF5A5F !important;
}

.attr-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attr-section .attr-add-opt, .attr-section .attr-add {
  background: #FFFFFF;
  border: 1px solid #040921;
  border-radius: 16px;
  padding: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #040921;
  margin: 15px 0;
}

.attr-section .attr-add-opt {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 95px;
}

.attr-section .attr-add {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: calc(100% - 95px);
  position: relative;
  right: 1px;
}

.attr-section .attr-add svg {
  position: absolute;
  top: 16px;
  right: 16px;
}

.date-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.date-flex .input-date-item {
  width: 48%;
  position: relative;
}

.date-flex .input-date-item input {
  width: 100%;
}

.date-flex .input-date-item svg {
  position: absolute;
  top: 16px;
  right: 16px;
}

.date-flex .date-disable input {
  border-color: rgba(4, 9, 33, 0.16) !important;
}

.disabled-attr {
  opacity: 0.25;
}

.host-items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.host-items .host-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.host-items .host-item .host-avatar {
  width: 50px;
}

.host-items .host-item .host-avatar img {
  width: 100%;
}

.host-items .host-item .host-texts {
  margin-left: 15px;
}

.host-items .host-item .host-texts .host-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #040921;
}

.host-items .host-item .host-texts .host-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #040921;
  opacity: 0.5;
}

.host-items .host-item a {
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #040921;
}

.consider-items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consider-items .consider-item {
  width: 46%;
}

.consider-items .consider-item .item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #040921;
  margin-bottom: 15px;
  margin-top: 20px;
}

.consider-items .consider-item .item-attr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #040921;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
}

.consider-items .consider-item .item-attr svg {
  margin-right: 10px;
}

.consider-items .consider-item .item-attr a {
  text-decoration: underline !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #040921;
  opacity: 0.8;
  margin-left: 4px;
}
/*# sourceMappingURL=bill.css.map */