header{
    padding: 25px 0px 10px 0 !important;
}

body{
    color: #fff !important;
}

p{
    margin-bottom: 0 !important;
}

section{
    padding-bottom: 200px;

    .checkout-content{
        margin-top: 25px;

        .checkout-top{
            .page{
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #040921;
                opacity: 0.5;
                margin-bottom: 15px;
            }

            .back{
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
                color: #040921;

                svg{
                    margin-right: 5px;
                    margin-bottom: 3px;
                }
            }
        }

        .checkout-items{
            display: flex;
            justify-content: space-between;
            .checkout-item{
                margin-top: 30px;

                &:first-child{
                    width: 68%;
                }

                &:last-child{
                    width: 30%;
                }

                .modal-vv-content{
                    background: #FAFAFA;
                    border: 1px solid rgba(4, 9, 33, 0.08);
                    border-radius: 32px;
                    border-radius: 32px;
                    padding: 50px;
                    position: relative;
                    overflow: auto;
                    z-index: 999999999999;
            
                    .input-section{

                    }

                    .password-input{
                        position: relative;
            
                        svg{
                            position: absolute;
                            right: 20px;
                            top: 41px;
                        }
                    }
            
                    .close{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        opacity: 0.2;
                    }
            
                    .modal-vv-title{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        letter-spacing: -0.078px;
                        color: #000000;
                        margin-bottom: 30px;
                    }

                    .submit-btn{
                        background: #040921;
                    }
            
                    .password-attrs{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        display: flex;
                        flex-direction: column;
                        letter-spacing: -0.078px;
                        color: #040921;
                        opacity: 0.8;
                        margin-left: 10px;
                        span{
                            margin-left: 7px;
                        }
                    }
            
                    .continue{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 26px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        color: #040921;
                        opacity: 0.24;
                        display: flex;
                        justify-content: center;
            
                        &::after{
                            content: "";
                            display: block;
                            width: 25%;
                            height: 1px;
                            background: #040921;
                            opacity: 0.24;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
            
                        &::before{
                            content: "";
                            display: block;
                            width: 25%;
                            height: 1px;
                            background: #040921;
                            opacity: 0.24;
                            margin-top: 10px;
                            margin-right: 10px;
                        }
                    }
            
                    .social-media{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
            
                        .social-media-items{
                            display: flex;
                            justify-content: space-around;
                        }
                        a{
                            margin-right: 10px;
                            margin-left: 10px;
                            background-color: #fff;
                            // padding: 9px 12px;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 22px;
                            border: 9px solid #04092111;
                        }
                    }
            
                    .already-have{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.1px;
                        color: #040921;
                        margin-bottom: 5px;
                    }
            
                    .log-in-href{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.1px;
                        text-decoration-line: underline !important;
                        color: #040921;
                        display: flex;
                        justify-content: center;
                    }
            
                    .privacy-policy{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 17px;
                        text-align: center;
                        letter-spacing: 0.1px;
                        color: #040921;
                        opacity: 0.6;
                        margin-top: 20px;
                        margin-bottom: 0;
                    }
                }

                .checkout-check{
                    background: #FFFFFF;
                    box-shadow: 0px 10px 30px 5px rgba(4, 9, 33, 0.05);
                    border-radius: 24px;
                    color: #040921;
                    padding: 25px;

                    .checkout-top-content{
                        display: flex;
                        align-items: center;

                        .content-img{
                            width: 30%;

                            img{
                                width: 100%;
                            }
                        }

                        .content-text{
                            margin-left: 10px;

                            .rate{
                                display: flex;
                                align-items: center;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: -0.32px;
                                color: rgba(4, 9, 33, 0.5);
    
                                svg{
                                    &:first-child{
                                        margin-left: 10px;
                                    }
                                }
                            }
                            
                            .content-title{
                                font-style: normal;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 21px;
                                letter-spacing: -0.32px;
                                color: #040921;
                                margin-bottom: 15px !important;
                            }

                            .rate_count{
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;
                                color: #040921;

                                span{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: #040921;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }

                    .checkout-c-line{
                        margin-top: 15px;
                        margin-bottom: 15px;
                        width: 100%;
                        height: 1px;
                        background: rgba(4, 9, 33, 0.08);
                    }

                    .trip{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        color: #040921;
                        margin-bottom: 20px !important;
                        margin-top: 10px;
                    }

                    .trip-attrs{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        .trip-attr{

                            .attr-name{
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: #040921;
                                margin-bottom: 10px !important;
                            }

                            .attr-date{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #040921;
                                opacity: 0.5;
                            }

                            a{
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 17px;
                                color: #040921;
                                opacity: 0.75;
                            }
                        }
                    }

                    .checkout-bottom{
                        
                        .price-details{
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #040921;
                            margin-bottom: 10px !important;
                            margin-top: 10px;
                        }

                        .price-detail-box{

                            .price-attrs{
                                display: flex;
                                justify-content: space-between;
    
                                .price-title{
                                    font-style: normal;
                                    margin-bottom: 8px;
                                    line-height: 19px;
                                    letter-spacing: -0.32px;
                                    color: rgba(4, 9, 33, 0.84);
                                }
        
                                .price-num{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    letter-spacing: -0.32px;
                                    color: rgba(4, 9, 33, 0.84);
                                }
                            }
                        }

                        .total-items{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 15px;

                            .total-text, .total-number{
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                letter-spacing: -0.32px;
                                color: #040921;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-select_phone{
    width: 100px;
}

  .vodiapicker_phone{
    display: none; 
  }
  
  #a_phone{
    padding-left: 0px;
  }
  
  #a_phone img, .btn-select_phone img{
    width: 12px;
    
  }
  
  .b_phone ul{
    margin-bottom: 0 !important;
  }

  #a_phone li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-select_phone li{
    display: flex;
    padding-left: 12px;
  }
  
  #a_phone li:hover{
   background-color: #F4F3F3;
  }
  
  #a_phone li img{
    margin: 5px;
  }
  
  #a_phone li span, .btn-select_phone li span{
    margin-left: 10px;
    color: #040921;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    padding: 14.5px 14.5px 14.5px 5px
  }

  .btn-select_phone{
    position: relative;
    bottom: 20px;
  }
  
  /* item list */
  
  .b_phone{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    position: absolute;
    background: white;
    z-index: 999999999;
    top: 50px;
    
  }
  
  .open{
    display: show !important;
  }
  
  .btn-select_phone{
    background: #FFFFFF;
    border: 1px solid rgba(4, 9, 33, 0.08);
    border-radius: 16px;
    // padding: 14px;
    transition: 0.2s;
    color: #040921;
    z-index: 99999;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }
