header {
  padding: 25px 0px 10px 0 !important;
}

body {
  color: #fff !important;
}

p {
  margin-bottom: 0 !important;
}

section {
  padding-bottom: 200px;
}

section .checkout-content {
  margin-top: 25px;
}

section .checkout-content .checkout-top .page {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #040921;
  opacity: 0.5;
  margin-bottom: 15px;
}

section .checkout-content .checkout-top .back {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #040921;
}

section .checkout-content .checkout-top .back svg {
  margin-right: 5px;
  margin-bottom: 3px;
}

section .checkout-content .checkout-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .checkout-content .checkout-items .checkout-item {
  margin-top: 30px;
}

section .checkout-content .checkout-items .checkout-item:first-child {
  width: 68%;
}

section .checkout-content .checkout-items .checkout-item:last-child {
  width: 30%;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content {
  background: #FAFAFA;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 32px;
  border-radius: 32px;
  padding: 30px;
  position: relative;
  overflow: auto;
  z-index: 999999999999;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .password-input {
  position: relative;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .password-input svg {
  position: absolute;
  right: 20px;
  top: 41px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.2;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .modal-vv-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.078px;
  color: #000000;
  margin-bottom: 30px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .submit-btn {
  background: #040921;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .password-attrs {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: -0.078px;
  color: #040921;
  opacity: 0.8;
  margin-left: 10px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .password-attrs span {
  margin-left: 7px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .continue {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #040921;
  opacity: 0.24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .continue::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background: #040921;
  opacity: 0.24;
  margin-top: 10px;
  margin-left: 10px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .continue::before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background: #040921;
  opacity: 0.24;
  margin-top: 10px;
  margin-right: 10px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .social-media .social-media-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .social-media a {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  border: 9px solid #04092111;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .already-have {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #040921;
  margin-bottom: 5px;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .log-in-href {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1px;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
  color: #040921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .checkout-content .checkout-items .checkout-item .modal-vv-content .privacy-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #040921;
  opacity: 0.6;
  margin-top: 20px;
  margin-bottom: 0;
}

section .checkout-content .checkout-items .checkout-item .checkout-check {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px 5px rgba(4, 9, 33, 0.05);
          box-shadow: 0px 10px 30px 5px rgba(4, 9, 33, 0.05);
  border-radius: 24px;
  color: #040921;
  padding: 25px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-img {
  width: 30%;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-img img {
  width: 100%;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text {
  margin-left: 10px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: rgba(4, 9, 33, 0.5);
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text .rate svg:first-child {
  margin-left: 10px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text .content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #040921;
  margin-bottom: 15px !important;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text .rate_count {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #040921;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-top-content .content-text .rate_count span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #040921;
  opacity: 0.5;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-c-line {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background: rgba(4, 9, 33, 0.08);
}

section .checkout-content .checkout-items .checkout-item .checkout-check .trip {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #040921;
  margin-bottom: 20px !important;
  margin-top: 10px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .trip-attrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .trip-attrs .trip-attr .attr-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #040921;
  margin-bottom: 10px !important;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .trip-attrs .trip-attr .attr-date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #040921;
  opacity: 0.5;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .trip-attrs .trip-attr a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #040921;
  opacity: 0.75;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .price-details {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #040921;
  margin-bottom: 10px !important;
  margin-top: 10px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .price-detail-box .price-attrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .price-detail-box .price-attrs .price-title {
  font-style: normal;
  margin-bottom: 8px;
  line-height: 19px;
  letter-spacing: -0.32px;
  color: rgba(4, 9, 33, 0.84);
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .price-detail-box .price-attrs .price-num {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.32px;
  color: rgba(4, 9, 33, 0.84);
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .total-items .total-text, section .checkout-content .checkout-items .checkout-item .checkout-check .checkout-bottom .total-items .total-number {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.32px;
  color: #040921;
}
/*# sourceMappingURL=checkout.css.map */