* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: unset;
}

ul {
  list-style-type: none;
}

body {
  background: #e5e5e5;
}

header {
  padding: 40px 0px 30px 0;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 0px 0px 0;
  }
}

header .header-items .header-item .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-items .header-item .logo .logo-text {
  margin-top: 13px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .logo .logo-text {
    width: 65px;
    margin-left: 1px;
  }
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .logo .logo-icon {
    width: 40px;
  }
}

header .header-items .header-item .menu-items {
  z-index: 9999999;
  position: relative;
}

header .header-items .header-item .menu-items .menu-item {
  margin: 0px 12px;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(3) {
    display: none;
  }
}

header .header-items .header-item .menu-items .menu-item:nth-child(4) {
  display: none;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(4) {
    display: block;
  }
}

header .header-items .header-item .menu-items .menu-item .dropdown {
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  padding: 6px 12px;
}

header .header-items .header-item .menu-items .menu-item .dropdown a {
  color: #fff;
}

header .header-items .header-item .menu-items .menu-item .dropdown a .dropdown-arrow {
  margin-left: 5px;
}

header .header-items .header-item .menu-items .menu-item .dropdown a:after {
  display: none !important;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-toggle:hover {
  border-color: white;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-menu {
  margin-top: 10px;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-menu a {
  color: #000;
}

header .header-items .header-item .menu-items .menu-item .burger-btn {
  border: 0;
  background-color: unset;
}

header .header-items .header-item .menu-items .menu-item .burger-btn div {
  background-color: white;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  margin: 5px 0px;
}

@font-face {
  font-family: Sk-Modernist;
  src: url("../../font/Sk-Modernist-Bold.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Sk-Modernist;
  src: url("../../font/Sk-Modernist-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Sk-Modernist;
  src: url("../../font/Sk-Modernist-Mono.woff2");
  font-weight: initial;
}

.popout {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 10000000000;
  display: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 768px) {
  .popout {
    display: block !important;
  }
}

.popout .popout-content {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 100%;
  height: 70%;
  background: white;
  position: fixed;
  bottom: 0;
}

.popout .popout-content .popout-head {
  height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.popout .popout-content .popout-body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.popout .popout-content .popout-body .popout-wrapper {
  margin: auto;
  width: 90%;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search {
  width: 100%;
  height: 10%;
  padding: 10px 0;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-text p {
  margin: 0;
  color: #040921BF;
  font-size: 14px;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input input {
  border: none;
  outline: none;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input input::-webkit-input-placeholder {
  color: #040921;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input input:-ms-input-placeholder {
  color: #040921;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input input::-ms-input-placeholder {
  color: #040921;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input input::placeholder {
  color: #040921;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-search .popout-body-search-input a {
  color: #9D50FF;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results {
  margin-top: 10px;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-title h1 {
  font-weight: bold;
  font-size: 14px;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-items .popout-body-result-item {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-items .popout-body-result-item svg {
  margin-top: 2px;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-items .popout-body-result-item p {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #828490;
  cursor: pointer;
}

.popout .popout-content .popout-body .popout-wrapper .popout-body-results .popout-body-result-items .popout-body-result-item p:hover {
  color: #040921;
}

.popout.hidden {
  background: none;
  pointer-events: none;
}

.popout.hidden .popout-content {
  height: 0% !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popout2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 10000000000;
  display: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 768px) {
  .popout2 {
    display: block !important;
  }
}

.popout2 .popout2-content {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 100%;
  height: 70%;
  background: white;
  position: fixed;
  bottom: 0;
}

.popout2 .popout2-content .popout2-head {
  height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.popout2 .popout2-content .popout2-body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper {
  margin: auto;
  width: 90%;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-title {
  margin-left: 5px;
  padding-top: 10px;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-title h1 {
  color: #040921;
  font-size: 24px;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-title p {
  color: #040921;
  margin-top: 15px;
  font-size: 14px;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-items .popout-body-sections-item {
  border-radius: 8px;
  margin-top: 20px;
  padding: 40px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(4, 9, 33, 0.08);
  background: #FAFAFA;
}

.popout2 .popout2-content .popout2-body .popout2-wrapper .popout-body-sections-items .popout-body-sections-item p {
  margin: 0;
  font-weight: bold;
}

.popout2.hidden {
  background: none;
  pointer-events: none;
}

.popout2.hidden .popout2-content {
  height: 0% !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popout3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 10000000000;
  display: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 768px) {
  .popout3 {
    display: block !important;
  }
}

.popout3 .popout3-content {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 100%;
  height: 70%;
  background: white;
  position: fixed;
  bottom: 0;
}

.popout3 .popout3-content .popout3-head {
  height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.popout3 .popout3-content .popout3-body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.popout3 .popout3-content .popout3-body .popout-body-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
  gap: 10px;
  border-bottom: 1px solid #F0F1F3;
}

.popout3 .popout3-content .popout3-body .popout-body-heading p {
  margin: 0;
}

.popout3 .popout3-content .popout3-body .popout-footer {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popout3 .popout3-content .popout3-body .popout-footer a {
  color: #040921;
  position: relative;
}

.popout3 .popout3-content .popout3-body .popout-footer a::after {
  content: '';
  position: absolute;
  width: 105%;
  height: 1px;
  background-color: #040921;
  left: -2.5%;
  bottom: 3px;
}

.popout3 .popout3-content .popout3-body .popout-footer button {
  background: linear-gradient(246.12deg, #9D50FF 11.55%, #583CF0 104.8%), #040921;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.popout3 .popout3-content .popout3-body .popout-footer button svg {
  margin-bottom: 3px;
  margin-right: 5px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper {
  margin: auto;
  width: 90%;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-add {
  margin-top: 40px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-add a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-add a p {
  color: #040921;
  margin: 0;
  font-size: 14px;
  margin-bottom: 2px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-title p {
  margin: 0;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-title p:nth-child(1) {
  color: #040921;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-title p:nth-child(2) {
  font-size: 11px;
  color: #040921BF;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-counter p {
  margin: 0;
  margin: 0 20px;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-counter button {
  border: none;
  background-color: transparent;
}

.popout3 .popout3-content .popout3-body .popout3-wrapper .popout-body-rooms .popout-body-rooms-items .popout-body-rooms-item .popout-body-rooms-item-counter button:nth-child(1) {
  color: #040921;
}

.popout3.hidden {
  background: none;
  pointer-events: none;
}

.popout3.hidden .popout3-content {
  height: 0% !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popout4 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 10000000000;
  display: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 768px) {
  .popout4 {
    display: block !important;
  }
}

.popout4 .popout4-content {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 100%;
  height: 70%;
  background: white;
  position: fixed;
  bottom: 0;
}

.popout4 .popout4-content .popout4-head {
  height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.popout4 .popout4-content .popout4-body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.popout4 .popout4-content .popout4-body .popout-body-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
  gap: 10px;
  border-bottom: 1px solid #F0F1F3;
}

.popout4 .popout4-content .popout4-body .popout-body-heading p {
  margin: 0;
}

.popout4 .popout4-content .popout4-body .popout4-wrapper {
  margin: auto;
  width: 90%;
}

.popout4.hidden {
  background: none;
  pointer-events: none;
}

.popout4.hidden .popout4-content {
  height: 0% !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.default-btn {
  border-radius: 10px;
  padding: 8px 23px;
  font-weight: 900;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-btn svg {
  margin-right: 7px;
}

.default-btn:hover {
  background-color: #fff;
  color: #000;
}

.dark-btn {
  border-radius: 10px;
  padding: 8px 23px;
  font-weight: 900;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-btn svg {
  margin-right: 7px;
}

.dark-btn:hover {
  background-color: #000;
  color: #fff;
}

.section-s-title {
  background: -webkit-linear-gradient(#9d50ff, #583cf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin: auto;
}

@media (max-width: 768px) {
  .section-title {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}

.navigation-body {
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999999;
}

.navigation-body .navigation-close .navigation-close-btn {
  border: 0;
  background-color: unset;
  float: right;
  margin: 15px;
}

.navigation-body .navigation-close .navigation-close-btn div {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  margin: 5px 0px;
}

.navigation-body .navigation-close .navigation-close-btn div:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 6px 6px;
          transform-origin: 6px 6px;
}

.navigation-body .navigation-close .navigation-close-btn div:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation-body .navigation-title {
  color: #000;
  font-size: 30px;
  margin: 35px 35px 0px;
  font-weight: 600;
}

.navigation-body .navigation-content {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.navigation-body .navigation-content .navigation-list {
  margin-top: 25px;
}

.navigation-body .navigation-content .navigation-list li {
  margin-bottom: 25px;
}

.navigation-body .navigation-content .navigation-list li a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* text-align: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-body .navigation-content .navigation-list li a svg {
  margin-right: 8px;
}

.navigation-body .navigation-content .navigation-br {
  background: rgba(4, 9, 33, 0.08);
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mobile-bar {
  display: none;
}

@media screen and (max-width: 975px) {
  .mobile-bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 24px rgba(4, 9, 33, 0.08);
            box-shadow: 0px 0px 24px rgba(4, 9, 33, 0.08);
    border-radius: 0px;
    padding: 20px 0px;
    z-index: 99999999999999999999;
  }
}

.mobile-bar .bar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-bar .bar-items .notification-icon > svg {
  position: absolute;
  margin-left: 20px;
  margin-top: -1px;
}

.top-section {
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center top !important;
}

@media screen and (max-width: 975px) {
  .top-section {
    height: 85vh;
    margin-bottom: 50px;
  }
}

.top-section .section-body {
  padding-top: 200px;
  padding-bottom: 50px;
}

@media screen and (max-width: 975px) {
  .top-section .section-body {
    margin-bottom: 0;
  }
}

.top-section .section-body .top-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: #fff;
}

.top-section .section-body .top-section-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.top-section .section-body .top-picker-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (max-width: 975px) {
  .top-section .section-body .top-picker-items {
    display: none;
  }
}

.top-section .section-body .top-picker-items .picker-active {
  color: #fff !important;
  background-color: #000;
}

.top-section .section-body .top-picker-items .picker-active svg > path {
  fill: #fff !important;
}

.top-section .section-body .top-picker-items .picker-active svg > g > .svg-w-stroke {
  stroke: #fff !important;
}

.top-section .section-body .top-picker-items .top-picker-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  color: #04092149;
}

@media screen and (max-width: 1210px) {
  .top-section .section-body .top-picker-items .top-picker-item:first-child svg {
    display: block;
  }
}

@media (max-width: 1210px) {
  .top-section .section-body .top-picker-items .top-picker-item svg {
    display: none;
  }
}

.top-section .section-body .top-picker-items .top-picker-item svg > path {
  fill: #04092149;
}

.top-section .section-body .top-picker-items .top-picker-item svg {
  margin-right: 5px;
}

.top-section .section-body .top-picker-items .top-picker-item p {
  margin-bottom: unset !important;
}

.top-section .section-body .top-filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
}

@media screen and (max-width: 975px) {
  .top-section .section-body .top-filter-items {
    display: none;
  }
}

.top-section .section-body .top-filter-items .filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .section-body .top-filter-items .filter-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .section-body .top-filter-items .top-filter-item,
.top-section .section-body .top-filter-items .top-filter-item,
.top-section .section-body .top-filter-items .top-filter-arrow {
  margin: 0px 20px;
}

.top-section .section-body .top-filter-items .top-filter-line {
  width: 1px;
  height: 40px;
  background: rgba(4, 9, 33, 0.12);
  margin: 0px 10px;
}

.top-section .section-body .top-filter-items .top-filter-item:first-child {
  margin-left: 0px;
}

.top-section .section-body .top-filter-items .top-filter-item:last-child {
  margin-right: 0px;
}

.top-section .section-body .top-filter-items .top-filter-item .browse-btn {
  background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
  border-radius: 12px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: #ffffff;
  padding: 15px 30px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.top-section .section-body .top-filter-items .top-filter-item .browse-btn span {
  position: relative;
  pointer-events: none;
}

.top-section .section-body .top-filter-items .top-filter-item .browse-btn::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #ffffff, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
  opacity: 0.7;
  -webkit-filter: blur(26.8px);
          filter: blur(26.8px);
}

.top-section .section-body .top-filter-items .top-filter-item .browse-btn:hover::before {
  --size: 80px;
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.078px;
  text-align: left;
  color: rgba(4, 9, 33, 0.75);
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-text span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040921;
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle {
  border: 1px solid #f0f1f3;
  border-radius: 10px;
  padding: 12px 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle::after {
  display: none !important;
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle .dropdown-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.078px;
  text-align: left;
  color: rgba(4, 9, 33, 0.75);
}

@media (max-width: 1210px) {
  .top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle .dropdown-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #040921;
  }
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040921;
}

@media (max-width: 1210px) {
  .top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #040921;
    margin-left: 3px;
  }
}

.top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle .dropdown-icon {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  background-color: white;
  border: 1px solid #f0f1f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 150px;
}

@media (max-width: 1210px) {
  .top-section .section-body .top-filter-items .top-filter-item .dropdown-toggle .dropdown-icon {
    margin-left: 50px;
  }
}

.top-section .section-body .res-filter-btn {
  width: 100%;
  text-align: center;
  position: relative;
  top: 130px;
  z-index: 1;
  display: none;
}

@media screen and (max-width: 975px) {
  .top-section .section-body .res-filter-btn {
    display: block;
  }
}

.top-section .section-body .res-filter-btn a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: #ffffff;
  background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
  border-radius: 12px;
  padding: 17px 30px;
}

.top-section .mobile-top-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
}

@media screen and (max-width: 975px) {
  .top-section .mobile-top-section {
    display: block;
  }
}

.top-section .mobile-top-section .section-blur {
  margin-top: -213px;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(93.96%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 93.96%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  bottom: 0;
}

.offer {
  padding: 70px 0px;
  text-align: center;
  background-color: white;
}

.offer .offer-items {
  margin-top: 50px;
  text-align: left;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.offer .offer-items .owl-stage-outer .owl-stage {
  text-align: -webkit-center;
}

.offer .offer-items .offer-item .item-img {
  width: 245px;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-img {
    width: 220px;
  }
}

.offer .offer-items .offer-item .item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 220px;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
  }
}

.offer .offer-items .offer-item .item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 220px;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.award {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.03) 11.55%, rgba(88, 60, 240, 0.03) 104.8%);
  padding: 70px 0px;
  text-align: center;
}

.award .award-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

@media screen and (max-width: 840px) {
  .award .award-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .award .award-items .award-item {
    width: 300px;
  }
}

.award .award-items .award-item {
  text-align: left;
  width: 35%;
}

@media screen and (max-width: 840px) {
  .award .award-items .award-item {
    width: 300px;
  }
}

@media screen and (max-width: 640px) {
  .award .award-items .award-item {
    width: 90%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.award .award-items .award-item .award-img {
  width: 50px;
  height: 50px;
}

.award .award-items .award-item .award-img img {
  width: 100%;
}

.award .award-items .award-item .award-title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.award .award-items .award-item .award-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #040921;
  opacity: 0.5;
  margin-top: 10px;
}

.experience {
  padding: 70px 0px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.experience .ex-res-visible {
  display: none !important;
}

@media screen and (max-width: 670px) {
  .experience .ex-res-visible {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px !important;
  }
}

.experience .experience-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  color: #040921;
}

.experience .experience-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #040921;
  opacity: 0.64;
}

@media screen and (max-width: 670px) {
  .experience .experience-desc {
    text-align: left;
    margin-top: 10px;
  }
}

.experience .experience-icon {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.04) 11.55%, rgba(88, 60, 240, 0.04) 104.8%);
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.experience .experience-logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media screen and (max-width: 670px) {
  .experience .experience-logo-items {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 0;
  }
}

.experience .experience-logo-items .experience-logo-item {
  padding: 0px 4px;
}

.experience .experience-logo-items .experience-logo-item:first-child {
  padding-left: 0px;
}

.experience .experience-items {
  margin-bottom: 50px;
  margin-top: 70px;
}

.experience .experience-items .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.experience .experience-items .experience-item .experience-left {
  width: 500px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item .experience-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-text-emphasis: center;
            text-emphasis: center;
    text-align: -webkit-center;
    width: 70% !important;
  }
}

@media screen and (max-width: 1265px) {
  .experience .experience-items .experience-item .experience-left {
    width: 45%;
  }
}

.experience .experience-items .experience-item .experience-left img {
  width: 100%;
}

.experience .experience-items .experience-item .experience-left .experience-img {
  position: relative;
}

.experience .experience-items .experience-item .experience-left .experience-img img {
  z-index: 2;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-1 {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  margin: 35px -65px;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-2 {
  position: absolute;
  width: 70%;
  bottom: 0;
  right: 0;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-3 {
  position: absolute;
  width: 55%;
  top: 0;
  right: 0;
  z-index: 0;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-2-bottom {
  position: absolute;
  width: 30%;
  bottom: 40px;
  right: -65px;
  z-index: 0;
}

.experience .experience-items .experience-item .experience-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 45%;
  text-align: left;
}

.experience .experience-items .experience-item .experience-right .experience-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  color: #040921;
}

.experience .experience-items .experience-item .experience-right .experience-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #040921;
  opacity: 0.64;
}

.experience .experience-items .experience-item .experience-right .experience-icon {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.04) 11.55%, rgba(88, 60, 240, 0.04) 104.8%);
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items .experience-logo-item {
  padding: 0px 4px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items .experience-logo-item:first-child {
  padding-left: 0px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item .ex-bottom-right {
    display: none;
  }
}

.destination {
  padding: 70px 0px;
  text-align: center;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.destination .slick-list {
  padding-top: 40px !important;
}

.destination .slick-list .slick-active {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.destination .slick-list .slick-center {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.destination .destination-s-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 15px;
}

.destination .destination-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  width: 51%;
  margin: auto;
}

@media (max-width: 768px) {
  .destination .destination-title {
    width: 95%;
  }
}

.destination .destination-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  /* the slides */
}

.destination .destination-items .slick-slide {
  margin: 0 15px;
}

.destination .destination-items .destination-item {
  width: 360px;
  padding: 25px;
  border-radius: 24px;
  background-color: #fff;
  text-align: left;
  overflow-y: auto;
}

@media screen and (max-width: 400px) {
  .destination .destination-items .destination-item {
    width: 250px;
  }
}

.destination .destination-items .destination-item img {
  width: 100%;
}

.destination .destination-items .destination-item .destination-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0d0d0d;
  margin-top: 15px;
}

.destination .destination-items .destination-item .destination-item-text {
  color: rgba(13, 13, 13, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
}

.destination .destination-items .destination-item .destination-item-href {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination .destination-items .destination-item .destination-item-href a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.comments {
  padding: 70px 0px;
}

.comments .comments-icon-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.comments .comments-icon-container .comments-icon {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.04) 11.55%, rgba(88, 60, 240, 0.04) 104.8%);
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments .comments-icon-container .comments-icon svg {
  width: 50%;
}

@media screen and (max-width: 676px) {
  .comments .comments-icon-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comments .comments-title {
  font-weight: 700;
  font-size: 37px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #1d293f;
  width: 40%;
  margin-top: 20px;
}

@media screen and (max-width: 1010px) {
  .comments .comments-title {
    font-size: 30px;
    width: 55%;
    line-height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .comments .comments-title {
    font-size: 30px;
    width: 70%;
    line-height: 40px;
  }
}

@media screen and (max-width: 676px) {
  .comments .comments-title {
    width: 90%;
    text-align: center;
  }
}

.comments .slider-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 676px) {
  .comments .slider-buttons {
    display: none;
  }
}

.comments .slider-buttons button {
  background: #fcfaff;
  border-radius: 30px;
  position: unset;
  width: 50px;
  height: 50px;
}

.comments .slider-buttons button:first-child {
  margin-right: 10px;
}

.comments .slider-buttons .slick-next::before {
  content: url("../images/arrow-1.svg");
}

.comments .slider-buttons .slick-prev::before {
  content: url("../images/arrow-2.svg");
}

.comments .comments-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.comments .comments-items .slick-list .slick-track .slick-active {
  opacity: 1 !important;
}

.comments .comments-items .slick-slide {
  margin: 0 15px;
}

.comments .comments-items .comments-item {
  padding: 15px;
  background: #ffffff;
  border: 1px solid #e2e4e8;
  border-radius: 12px;
  width: 370px;
  opacity: 0.4;
}

@media screen and (max-width: 400px) {
  .comments .comments-items .comments-item {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .comments .comments-items .comments-item {
    width: 250px;
  }
}

.comments .comments-items .comments-item .comments-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .comments-items .comments-item .comments-top .user-avatar {
  width: 45px;
}

.comments .comments-items .comments-item .comments-top .user-avatar img {
  width: 100%;
}

.comments .comments-items .comments-item .comments-top .user-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #1d293f;
  margin-left: 20px;
}

.comments .comments-items .comments-item .comment-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1d293f;
  margin-top: 20px;
}

.services {
  padding: 70px 0px;
  text-align: center;
}

.services .service-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .services .service-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .services .service-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.services .service-items .service-item {
  width: 90%;
  padding: 25px;
  border: 1px solid rgba(4, 9, 33, 0.08);
  border-radius: 16px;
  background-color: #fff;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 28px;
}

.services .service-items .service-item:hover a {
  background: linear-gradient(246.12deg, #9d50ff 11.55%, #583cf0 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.services .service-items .service-item:hover .href-arrow {
  -webkit-filter: invert(53%) sepia(94%) saturate(3226%) hue-rotate(233deg) brightness(100%) contrast(101%);
          filter: invert(53%) sepia(94%) saturate(3226%) hue-rotate(233deg) brightness(100%) contrast(101%);
  right: 0% !important;
}

.services .service-items .service-item:hover {
  -webkit-box-shadow: 0px 32px 74px rgba(141, 76, 252, 0.08);
          box-shadow: 0px 32px 74px rgba(141, 76, 252, 0.08);
  border-color: #fff;
}

.services .service-items .service-item .service-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #040921;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services .service-items .service-item .service-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #040921;
  opacity: 0.75;
}

.services .service-items .service-item .href-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services .service-items .service-item .href-flex a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #040921;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service-items .service-item .href-flex .href-arrow {
  background-image: url("../images/arrow-right-icon.svg");
  margin-left: 20px;
  color: #040921;
  width: 18px;
  height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 60%;
  position: absolute;
}

footer {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.03) 11.55%, rgba(88, 60, 240, 0.03) 104.8%);
  padding-top: 70px 0px 20px 0px;
}

footer .footer-items {
  padding-top: 50px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 767px) {
  footer .footer-items {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    width: 98%;
    margin: auto;
    justify-items: start;
  }
}

@media screen and (max-width: 500px) {
  footer .footer-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  footer .footer-items .footer-item {
    width: 100%;
    margin: 20px 0;
  }
}

footer .footer-items .footer-item .footer-account {
  background: #262b35;
  border-radius: 34px;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  footer .footer-items .footer-item .footer-account {
    width: 94%;
  }
}

@media screen and (max-width: 500px) {
  footer .footer-items .footer-item .footer-account {
    width: 100%;
  }
}

footer .footer-items .footer-item .footer-account svg {
  width: 150px;
}

footer .footer-items .footer-item .footer-account .account-title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #ffffff;
  margin-top: 15px;
}

footer .footer-items .footer-item .footer-account .account-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 20px;
}

footer .footer-items .footer-item .footer-account .create-account {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px 25px;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #262b35;
  display: inline-block;
}

footer .footer-items .footer-item .footer-item-title {
  color: #040921;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

footer .footer-items .footer-item .footer-lists {
  padding-left: 0;
}

@media screen and (max-width: 500px) {
  footer .footer-items .footer-item .footer-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

footer .footer-items .footer-item .footer-lists .footer-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0;
}

footer .footer-items .footer-item .footer-lists .footer-list a {
  color: #040921;
}

footer .footer-items .footer-item .footer-lists .sublist {
  margin-top: 40px;
}

footer .footer-line {
  background: rgba(13, 13, 13, 0.06);
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}

footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

@media screen and (max-width: 820px) {
  footer .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

footer .footer-copyright .footer-copyright-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: rgba(4, 9, 33, 0.5);
  margin-bottom: 0;
}

@media screen and (max-width: 820px) {
  footer .footer-copyright .footer-copyright-text {
    margin-top: 20px;
  }
}

footer .footer-copyright .copyright-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 580px) {
  footer .footer-copyright .copyright-items {
    width: 100%;
  }
}

footer .footer-copyright .copyright-items .copyright-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: #040921;
  opacity: 0.5;
  margin: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 580px) {
  footer .footer-copyright .copyright-items .copyright-item:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  footer .footer-copyright .copyright-items .copyright-item:nth-child(2) {
    display: none;
  }
}

footer .footer-copyright .copyright-items .copyright-item p {
  margin: auto;
}

footer .footer-copyright .copyright-items .copyright-item svg {
  margin: 0px 5px;
}

footer .footer-copyright .copyright-items .copyright-item:last-child {
  opacity: 1;
}

@media screen and (max-width: 580px) {
  footer .footer-copyright .copyright-items .copyright-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

footer .footer-copyright .copyright-items .copyright-item .payment-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item:nth-child(3) {
  display: block !important;
}

@media (max-width: 450px) {
  .menu-item:first-child {
    display: none !important;
  }
  .menu-item:nth-child(3) {
    display: none !important;
  }
}
/*# sourceMappingURL=seo.css.map */