* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: unset;
}

ul {
  list-style-type: none;
}

.default-btn {
  border-radius: 10px;
  padding: 8px 23px;
  font-weight: 900;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-btn svg {
  margin-right: 7px;
}

.default-btn:hover {
  background-color: #fff;
  color: #000;
}

.dark-btn {
  border-radius: 10px;
  padding: 8px 23px;
  font-weight: 900;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-btn svg {
  margin-right: 7px;
}

.dark-btn:hover {
  background-color: #000;
  color: #fff;
}

.section-s-title {
  background: -webkit-linear-gradient(#9d50ff, #583cf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  width: 51%;
  margin: auto;
}

@media (max-width: 768px) {
  .section-title {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}

header {
  padding: 30px 0px;
  position: absolute;
  width: 100%;
}

header .header-items .header-item .logo .logo-text {
  margin-top: 13px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .logo .logo-text {
    width: 65px;
    margin-left: 1px;
  }
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .logo .logo-icon {
    width: 40px;
  }
}

header .header-items .header-item .menu-items .menu-item {
  margin: 0px 12px;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(3) {
    display: none;
  }
}

header .header-items .header-item .menu-items .menu-item:nth-child(4) {
  display: none;
}

@media screen and (max-width: 768px) {
  header .header-items .header-item .menu-items .menu-item:nth-child(4) {
    display: block;
  }
}

header .header-items .header-item .menu-items .menu-item .dropdown {
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  padding: 6px 12px;
}

header .header-items .header-item .menu-items .menu-item .dropdown a {
  color: #fff;
}

header .header-items .header-item .menu-items .menu-item .dropdown a .dropdown-arrow {
  margin-left: 5px;
}

header .header-items .header-item .menu-items .menu-item .dropdown a:after {
  display: none !important;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-toggle:hover {
  border-color: white;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-menu {
  margin-top: 10px;
}

header .header-items .header-item .menu-items .menu-item .dropdown .dropdown-menu a {
  color: #000;
}

header .header-items .header-item .menu-items .menu-item .burger-btn {
  border: 0;
  background-color: unset;
}

header .header-items .header-item .menu-items .menu-item .burger-btn div {
  background-color: white;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  margin: 5px 0px;
}

.navigation-body {
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999999;
}

.navigation-body .navigation-close .navigation-close-btn {
  border: 0;
  background-color: unset;
  float: right;
  margin: 15px;
}

.navigation-body .navigation-close .navigation-close-btn div {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  margin: 5px 0px;
}

.navigation-body .navigation-close .navigation-close-btn div:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 6px 6px;
          transform-origin: 6px 6px;
}

.navigation-body .navigation-close .navigation-close-btn div:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation-body .navigation-title {
  color: #000;
  font-size: 30px;
  margin: 35px 35px 0px;
  font-weight: 600;
}

.navigation-body .navigation-content {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.navigation-body .navigation-content .navigation-list {
  margin-top: 25px;
}

.navigation-body .navigation-content .navigation-list li {
  margin-bottom: 25px;
}

.navigation-body .navigation-content .navigation-list li a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* text-align: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-body .navigation-content .navigation-list li a svg {
  margin-right: 8px;
}

.navigation-body .navigation-content .navigation-br {
  background: rgba(4, 9, 33, 0.08);
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.top-section {
  width: 100%;
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center top;
}

.top-section .section-body {
  position: relative;
  top: 200px;
}

.top-section .section-body .top-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: #fff;
}

.top-section .section-body .top-section-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.top-section .section-body .top-picker-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
}

.top-section .section-body .top-picker-items .picker-active {
  color: #fff !important;
  background-color: #000;
}

.top-section .section-body .top-picker-items .picker-active svg > path {
  fill: #fff !important;
}

.top-section .section-body .top-picker-items .top-picker-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  color: #04092149;
}

.top-section .section-body .top-picker-items .top-picker-item svg > path {
  fill: #04092149;
}

.top-section .section-body .top-picker-items .top-picker-item svg {
  margin-right: 5px;
}

.top-section .section-body .top-picker-items .top-picker-item p {
  margin-bottom: unset !important;
}

.top-section .section-body .top-filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 12px;
}

.offer {
  padding: 70px 0px;
  text-align: center;
  background-color: white;
}

.offer .offer-items {
  margin-top: 50px;
  text-align: left;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.offer .offer-items .owl-stage-outer .owl-stage {
  text-align: -webkit-center;
}

.offer .offer-items .offer-item .item-img {
  width: 245px;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-img {
    width: 220px;
  }
}

.offer .offer-items .offer-item .item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 220px;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
  }
}

.offer .offer-items .offer-item .item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 220px;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .offer .offer-items .offer-item .item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.award {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.03) 11.55%, rgba(88, 60, 240, 0.03) 104.8%);
  padding: 70px 0px;
  text-align: center;
}

.award .award-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

@media screen and (max-width: 840px) {
  .award .award-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .award .award-items .award-item {
    width: 300px;
  }
}

.award .award-items .award-item {
  text-align: left;
  width: 35%;
}

@media screen and (max-width: 840px) {
  .award .award-items .award-item {
    width: 300px;
  }
}

@media screen and (max-width: 640px) {
  .award .award-items .award-item {
    width: 90%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.award .award-items .award-item .award-img {
  width: 50px;
  height: 50px;
}

.award .award-items .award-item .award-img img {
  width: 100%;
}

.award .award-items .award-item .award-title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.award .award-items .award-item .award-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #040921;
  opacity: 0.5;
  margin-top: 10px;
}

.experience {
  padding: 70px 0px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.experience .ex-res-visible {
  display: none !important;
}

@media screen and (max-width: 670px) {
  .experience .ex-res-visible {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px !important;
  }
}

.experience .experience-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  color: #040921;
}

.experience .experience-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #040921;
  opacity: 0.64;
}

@media screen and (max-width: 670px) {
  .experience .experience-desc {
    text-align: left;
    margin-top: 10px;
  }
}

.experience .experience-icon {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.04) 11.55%, rgba(88, 60, 240, 0.04) 104.8%);
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.experience .experience-logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media screen and (max-width: 670px) {
  .experience .experience-logo-items {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 0;
  }
}

.experience .experience-logo-items .experience-logo-item {
  padding: 0px 4px;
}

.experience .experience-logo-items .experience-logo-item:first-child {
  padding-left: 0px;
}

.experience .experience-items {
  margin-bottom: 50px;
  margin-top: 70px;
}

.experience .experience-items .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.experience .experience-items .experience-item .experience-left {
  width: 500px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item .experience-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-text-emphasis: center;
            text-emphasis: center;
    text-align: -webkit-center;
    width: 70% !important;
  }
}

@media screen and (max-width: 1265px) {
  .experience .experience-items .experience-item .experience-left {
    width: 45%;
  }
}

.experience .experience-items .experience-item .experience-left img {
  width: 100%;
}

.experience .experience-items .experience-item .experience-left .experience-img {
  position: relative;
}

.experience .experience-items .experience-item .experience-left .experience-img img {
  z-index: 2;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-1 {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  margin: 35px -65px;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-2 {
  position: absolute;
  width: 70%;
  bottom: 0;
  right: 0;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-3 {
  position: absolute;
  width: 55%;
  top: 0;
  right: 0;
  z-index: 0;
}

.experience .experience-items .experience-item .experience-left .experience-img .img-pattern-2-bottom {
  position: absolute;
  width: 30%;
  bottom: 40px;
  right: -65px;
  z-index: 0;
}

.experience .experience-items .experience-item .experience-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 45%;
  text-align: left;
}

.experience .experience-items .experience-item .experience-right .experience-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  color: #040921;
}

.experience .experience-items .experience-item .experience-right .experience-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #040921;
  opacity: 0.64;
}

.experience .experience-items .experience-item .experience-right .experience-icon {
  background: linear-gradient(246.12deg, rgba(157, 80, 255, 0.04) 11.55%, rgba(88, 60, 240, 0.04) 104.8%);
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items .experience-logo-item {
  padding: 0px 4px;
}

.experience .experience-items .experience-item .experience-right .experience-logo-items .experience-logo-item:first-child {
  padding-left: 0px;
}

@media screen and (max-width: 670px) {
  .experience .experience-items .experience-item .ex-bottom-right {
    display: none;
  }
}

.destination {
  padding: 70px 0px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.destination .destination-s-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 15px;
}

.destination .destination-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  width: 51%;
  margin: auto;
}

@media (max-width: 768px) {
  .destination .destination-title {
    width: 95%;
  }
}

.destination .destination-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  /* the slides */
}

.destination .destination-items .slick-slide {
  margin: 0 15px;
}

.destination .destination-items .destination-item {
  width: 360px;
  padding: 25px;
  border-radius: 24px;
  background-color: #fff;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .destination .destination-items .destination-item {
    width: 250px;
  }
}

.destination .destination-items .destination-item img {
  width: 100%;
}

.destination .destination-items .destination-item .destination-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0D0D0D;
  margin-top: 15px;
}

.destination .destination-items .destination-item .destination-item-text {
  color: rgba(13, 13, 13, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
}

.destination .destination-items .destination-item .destination-item-href {
  margin-top: 10px;
}

.destination .destination-items .destination-item .destination-item-href a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(246.12deg, #9D50FF 11.55%, #583CF0 104.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*# sourceMappingURL=style.css.map */