@font-face {
    font-family: Sk-Modernist;
    src: url('../../font/Sk-Modernist-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: Sk-Modernist;
    src: url('../../font/Sk-Modernist-Bold.otf');
    font-weight: bold;
}

