.modal-vv{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999999999999;
    display: flex;
    justify-content: center;

    .modal-background{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index:99999999999999;
        display: flex;
        justify-content: center;
    }

    .modal-vv-content{
        background: #FAFAFA;
        border: 1px solid rgba(4, 9, 33, 0.08);
        border-radius: 32px;
        width: 40%;
        border-radius: 32px;
        padding: 30px;
        position: relative;
        overflow: auto;
        margin: 5% 0;
        max-height: 600px;
        z-index: 999999999999;

        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        @media (max-width: 1000px) {
            width: 60%;
        }

        @media (max-width: 600px) {
            width: 80%;
        }

        @media (max-width: 400px) {
            width: 90%;
        }

        .close{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            opacity: 0.2;
        }

        .modal-vv-title{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            letter-spacing: -0.078px;
            color: #000000;
            margin-bottom: 30px;
        }
    }
}

#alternative .modal-vv-title{
    display: flex;
    justify-content: center;
}

.modal-alternative-items{

    .alternative-item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-text{
            align-items: center;
        }
        .item-avatar{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;

            img{
                width: 100%;
            }
        }

        .item-texts{

            .item-title{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                letter-spacing: -0.078px;
            }
            
            .item-subtitle{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1px;
                color: #040921;
                opacity: 0.5;
                margin-top: 3px;
            }
        }
    }

    .alternative-line{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-bottom: 10px;

        .line-item{
            width: 86%;
            height: 1px;
            background: #040921;
            opacity: 0.1;
        }
    }
}

.not_you{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #040921;
    margin-top: 40px;

    a{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.1px;
        text-decoration-line: underline !important;
        color: #040921;
    }
}

.modal-hidden{
    display: none;
}

.password-input{
    position: relative;
  
    svg{
        position: absolute;
        right: 20px;
        top: 41px;
    }
  }
  
  
  .password-attrs{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    letter-spacing: -0.078px;
    color: #040921;
    opacity: 0.8;
    margin-left: 10px;
    span{
        margin-left: 7px;
    }
  }
  
  .continue{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #040921;
    opacity: 0.24;
    display: flex;
    justify-content: center;
  
    &::after{
        content: "";
        display: block;
        width: 25%;
        height: 1px;
        background: #040921;
        opacity: 0.24;
        margin-top: 10px;
        margin-left: 10px;
    }
  
    &::before{
        content: "";
        display: block;
        width: 25%;
        height: 1px;
        background: #040921;
        opacity: 0.24;
        margin-top: 10px;
        margin-right: 10px;
    }
  }
  
  .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
    .social-media-items{
        display: flex;
        justify-content: space-around;
    }
    a{
        margin-right: 10px;
        margin-left: 10px;
        background-color: #fff;
        // padding: 9px 12px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px;
        border: 9px solid #04092111;
    }
  }
  
  .already-have{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #040921;
    margin-bottom: 5px;
  }
  
  .log-in-href{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    text-decoration-line: underline !important;
    color: #040921;
    display: flex;
    justify-content: center;
  }
  
  .privacy-policy{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #040921;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .mail-content{
    text-align: center;
    width: 100%;
  
    .confirm{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.078px;
        color: #000000;
        margin: 13px 0;
    }
  
    .mail-text{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.078px;
        color: #040921;
        margin-top: 10px;
        margin-bottom: 20px;
    }
  
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.078px;
        color: #040921;
        opacity: 0.5;
        margin-bottom: 20px;
        span{
            font-weight: 700;
        }
    }
  }
  
  .remamber-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .check-field{
        display: flex;
        align-items: center;
  
        label{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.078px;
            color: #040921;
            opacity: 0.8;
            margin-bottom: 0;
        }
        
    }
  
    .forgot-password{
        a{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.078px;
            text-decoration-line: underline !important;
            color: #040921;
            opacity: 0.8;
        }
    }
  }

  .dropdown-menu{
    border: 1px solid #F0F1F3 !important;
    border-radius: 16px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08) !important;
    border-radius: 16px !important;
  }

  .find-location-menu {
    border: 1px solid #F0F1F3 !important;
    border-radius: 16px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08) !important;
    border-radius: 16px !important;

    .dropdown-text{
        padding: 7px 15px;

        .location-input{
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 0;
            margin-top: 5px !important;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(4, 9, 33, 0.5);
                opacity: 1; /* Firefox */
              }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(4, 9, 33, 0.5);
            }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(4, 9, 33, 0.5);
            }
        }
    }

    .dropdown-divider{
        margin-top: 0 !important;
    }
  }

  .find-location-menu a {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #040921 !important;
    display: flex;
    align-items: center;
    opacity: 0.5;
    padding-top: 9px;
    padding-bottom: 9px;

    svg{
        margin-right: 12px;
    }

    &:hover{
        background: #9c50ff0c !important;
        opacity: 1 !important;
    }
  }

  .dropdown-guest{
    .dropdown-toggle{
        border: 0 !important;
    }

    .dropdown-guest-menu{
        width: auto !important;
        z-index: 99999999999;
        position: relative;
        .calendar-flex{
            display: flex;
        }

        .calendar-extra{
            display: flex;
            justify-content: space-between;
            padding:10px 15px;


            .extra-flex{
                display: flex;
                align-items: center;

                label{
                    margin-left: 0
                }

                .extra-text{
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(4, 9, 33, 0.75);
                    margin: 0px 15px;

                    svg{
                        margin-right: 5px;
                    }
                }
            }

            .extra-item{
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    color: #040921;
                    margin-bottom: 0;

                    span{
                        font-weight: 700;
                    }
                }

                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    color: #040921;
                    text-decoration: underline !important;
                    margin-left: 20px;
                }
            }
        }
    }
  }

  .dropdown-addguest{
    
    .dropdown-toggle{
        border: 0 !important;
    }

    .dropdown-guest-menu{
        .popout-body-rooms {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-bottom: 30px;
            padding: 15px;
            .popout-body-rooms-title {
                // background-color: green;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .room-line-d-down{
                margin: 20px 0;
                width: 100%;
                height: 1px;
                background: rgba(4, 9, 33, 0.04);
            }

            .popout-body-rooms-add {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    text-decoration: none;
                    p {
                        color: #040921;
                        margin: 0;
                        font-size: 14px;
                        margin-bottom: 2px;
                    }
                }
            }
            .popout-body-rooms-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap: 10px;
                .popout-body-rooms-item {
                    width: 100%;
                    // border: 1px solid green;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // width: 10;
                    .popout-body-rooms-item-title {
                        width: 70px;
                        p {
                            margin: 0;
                            &:nth-child(1) {
                                color: #040921;

                            }  
                            &:nth-child(2) {
                                font-size: 11px;
                                color: #040921BF;                                        ;
                            }  
                        }
                    }
                    .popout-body-rooms-item-counter {
                        display: flex;
                        border: 1px solid rgba(4, 9, 33, 0.04);
                        border-radius: 8px;
                        margin-left: 70px;
                        padding: 7px 13px;
                        p {
                            margin: 0;
                            margin: 0 20px;
                        }
                        button {
                            border: none;
                            background-color: transparent;
                            &:nth-child(1) {
                                color: #040921;
                            }
                        }
                    }
                }

            }
        }
    }
  }